html
head
title='Pluralsight Test'
link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap.min.css')
body
div.container
div.jumbotron
h1 Hello Tokunbo
p click the button below to head over to the website
p
a.btn.btn-primary(href="http://intechwetrustpodcast.com") Podcast
p